<div class="row">
    <div class="col-md-6">
        <input class="btn btn-info" type="button" value="Imprimer">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <app-domaine-cedar 
                    [listFilter]="listOperator" 
                    [length]="listOperator?.length" 
                    (emitData)="filterCedar($event)">
                </app-domaine-cedar>             
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <!-- <table class="table"> -->
                    <table datatable class="row-border hover" [dtOptions]="dtOptions" [dtTrigger]="dtTiggers">                        
                        <thead class="text-primary">
                            <tr>
                                <th> Etat civil </th>
                                <th> Domaine </th>
                                <th> Adhésion </th>
                                <th> Localisation </th>
                                <th> Compétences </th>
                                <th> Niveau d'étude </th>
                                <th> Activités </th>
                                <th> Spécialités </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listOperator" class="cursor-info" (click)="emitDataOperator(item)">
                                <td>{{item.exploitantFirstName | uppercase}} <br>
                                    {{item.exploitantLastName | titlecase}}<br>
                                    {{item.exploitantAge}} ans - {{item.exploitantSex | slice:0:1}}
                                </td>

                                <td>{{item.exploitantCedar}}</td>

                                <td>{{item.exploitantDate | date: 'dd/MM/yyyy'}}</td>

                                <td>{{item.exploitantRegion | titlecase}} <br>
                                    {{item.exploitantDistrict | titlecase}}
                                </td>

                                <td>{{item.exploitantFormation | titlecase}}</td>

                                <td>{{item.exploitantSchooling | titlecase}}</td>

                                <td>{{item.exploitantActivite1 | titlecase}} <br>
                                    {{item.exploitantActivite2 | titlecase}}
                                </td>

                                <td>{{item.exploitantSpeciality1 }} <br>
                                    {{item.exploitantSpeciality2 }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #operatorDetail>

    <div class="modal-header">
        <h5>Détails exploitant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="../../../assets/img/sb_logo.png">
                    </div>
                    <div class="card-body">
                        <div class="author mt-1">
                            <a>
                                <h5 class="title">{{firstname}} {{lastname}} </h5>
                            </a>
                            <p class="description">
                                <b>{{operatorDomaine | uppercase}}</b>
                            </p>
                        </div>
                        <p class="description text-center">
                            {{age}} ans
                            <br> {{schooling}}
                            <br> {{state}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card card-user">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Date d'adhésion</label>
                                        <br><span>{{dateInitiation | date:'d MMM yyyy'}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-1">
                                    <div class="form-group">
                                        <label>Compétence(s)</label>
                                        <br><span>{{formation}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group">
                                        <label>Activité(s)</label>
                                        <br><span *ngIf="activity1">- {{activity1}}</span>
                                        <br><span *ngIf="activity2">- {{activity2}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-1">
                                    <div class="form-group">
                                        <label>Spécialité(s)</label>
                                        <br><span *ngIf="speciality1">- {{speciality1}}</span>
                                        <br><span *ngIf="speciality2">- {{speciality2}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Localisation</label>
                                        <br><span>{{region}} - {{district}}</span>
                                        <br><span>{{commune}}</span>
                                        <br><span>{{fokontany}} | {{hamlet}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Formations</label>
                                        <br><span *ngIf="formationDoing == 0">- aucun</span><span
                                            *ngIf="formationDoing > 0">- {{formationDoing}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Innovations acquises</label>
                                        <br><span *ngIf="innovationAcquis == 0">- aucun</span><span
                                            *ngIf="innovationAcquis > 0">- {{innovationAcquis}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Innovations personnelles</label>
                                        <br><span *ngIf="innovationPerso == 0">- aucun</span><span
                                            *ngIf="innovationPerso > 0">- {{innovationPerso}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">Innovations appliquées</label>
                                        <br><span *ngIf="innovationAppli == 0">- aucun</span><span
                                            *ngIf="innovationAppli > 0">- {{innovationAppli}}</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart" *ngIf="listHistoCuma">
                    <div class="card-header">
                        <h5 class="card-title">Graph CUMA</h5>
                    </div>
                    <div class="card-body">
                        <canvas id="speedChart" width="400" height="100"></canvas>
                    </div>
                    <div class="card-footer">
                        <div class="chart-legend">
                            <i class="fa fa-circle text-warning"></i> Evolution CUMA
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>