<div class="row">
    <div class="card">
        <div class="table-responsive">
            <table>
                <thead>
                    <th>Production Agricole</th>
                    <th>Année</th>
                    <th>Liste des spéculation</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{listAgri}} kg</td>
                        <td>2020</td>
                        <td>list spec</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>