<div class="row">
    <div class="col-md-12">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-title">EVOLUTION</h5>
            </div>
            <div class="card-body">
                <canvas id="speedChart" width="400" height="100"></canvas>
            </div>
            <div class="card-footer">
                <div class="chart-legend">
                    <i class="fa fa-circle text-info"></i> Agriculture
                    <i class="fa fa-circle text-warning"></i> Elevage
                    <i class="fa fa-circle text-success"></i> Nutrition
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>