<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/melman-carol/">
                        Melman
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, Cedar-vf by <a href="https://github.com/mememelm/" target="_blank">mememelm</a>
        </div>
    </div>
</footer>